*src_gen*
.idea
mx
mxbuild
images
*.pyc
*.jar
*.src.zip
*.prefs
.classpath
.factorypath
.project
*.launch
*.sources
.pydevproject
workingsets.xml
env
*.cfg
*dumps
*nbproject*
build.xml
coverage
*.iml
jacoco.exec
