# OS
.DS_Store

# Editors
*~

# Eclipse
.classpath
.project
.settings
.factorypath
workingsets.xml

# NetBeans
nbproject
build.xml

# IntelliJ
.idea
*.iml

# Python
*.pyc

# mx
/.mx
/mx.graalsqueak/.pydevproject
/mx.graalsqueak/env
/mx.graalsqueak/eclipse-launches
/mxbuild
/GRAALSQUEAK*.dist
/coverage
jacoco.exec

# Diagnostic output directory
dumps/
graal_dumps/

# Profile output directory
profiles/

# GraalSqueak
images
graalsqueak*.zip
graalsqueak*.jar
