/bin/
*src_gen*
/trufflesqueak/de.hpi.swa.trufflesqueak/nbproject/private/
/trufflesqueak/de.hpi.swa.trufflesqueak.test/nbproject/private/
.idea
mxbuild
*.pyc
*.jar
*.src.zip
*.prefs
.classpath
.factorypath
.project
*.launch
*.sources
.pydevproject
workingsets.xml
env
*.cfg
trufflesqueak/de.hpi.swa.trufflesqueak/dumps
*nbproject*
build.xml
